cname=auth.{{ domain }},{{ ansible_host }}
cname=traefik.{{ domain }},{{ ansible_host }}
cname=jackett.{{ domain }},{{ ansible_host }}
cname=pihole.{{ domain }},{{ ansible_host }}
cname=photoprism.{{ domain }},{{ ansible_host }}
