api:
  dashboard: true
  debug: true
  insecure: true

log:
  level: DEBUG
accessLog:
  filePath: /etc/traefik/access.log

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: httpsResolver
        domains:
          - main: "{{ domain }}"
          - sans: "*.{{ domain }}"

certificatesResolvers:
  httpsResolver:
    acme:
      email: "{{ email }}"
      storage: /etc/traefik/certificates/acme.json
#      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: cloudflare

providers:
  docker:
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"
  file:
    directory: "/etc/traefik/sites"
    watch: true
