http:
  routers:
    emby:
      rule: "Host(`emby.{{ domain }}`)"
      service: emby
      entryPoints:
        - websecure
      tls:
        certResolver: httpsResolver
    emby-internal:
      rule: "Host(`emby.internal.{{ domain }}`)"
      service: emby
      entryPoints:
        - websecure
      tls:
        certResolver: httpsResolver
      middlewares:
        - localwhitelist

  services:
    emby:
      loadBalancer:
        servers:
          - url: "{{ sites_urls.emby }}"
